.carousel{

    background-color: #EEF;
}
.carousel-cell{
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background-color: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.img__carousel{
    width: 72px;
    height: 72px;
}